html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #2D3142;
  padding: 10px;
}

.content {
  background-color: #4F5D75;
  flex: 1;
  padding: 10px;
}

.footer {
  height: 40px;
  align-content: center;
  text-align: center;
  background-color: #2D3142;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .logo {
      width: 100px;
      animation-name: Header-logo-spin;
      animation-duration: 3s;
      cursor: pointer;
  }

  .logo:hover {
    animation-iteration-count: 100;
}

  .nav-items {
    display: flex;
    list-style: none;        
  }

  .nav-items > li {
    margin: 20px;
  }

  .nav-items > :hover {
    color: #61DAFB;
    cursor: pointer;
  }  
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/